<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Login</h1>
            <form action="/login" method="post">
                email: <input type="text" name="email">
                Password: <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>Register:</h1>
            <form action="/register" method="post">
                <label>First Name:</label> 
                <input type="text" name="first_name">
                <label>Last Name:</label> 
                <input type="text" name="last_name">
                <label>Email:</label> 
                <input type="text" name="email">
                <label>Password:</label> 
                <input type="password" name="password">
                <label>Confirm Password:</label> 
                <input type="password" name="confirm">
                <input type="submit" value="Submit">
            </form>    
        </div>
    </body>
</html>

